@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Slackey&display=swap');

.eb-garamond-400 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

* {
    font-family: "EB Garamond", serif;
}

body {
    background-color: rgb(103, 104, 112);
}

#list {
display: flex;
flex-direction: column;
}

label.check {
    font-size: 20px;
    margin-bottom: 5px;
}

.collapsible {
    outline: none;
    border: none;
}

.todoInfo {
    display: none;
}